body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #0077ff;
  color: white;
  padding: 40px;
  text-align: center;
}

section {
  padding: 20px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
