body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  padding: 40px;
}

h1 {
  color: #d62828;
}

input, button {
  padding: 10px;
  margin: 10px 0;
}

#result {
  margin-top: 20px;
  background: white;
  padding: 15px;
  border-radius: 5px;
}





header {
  background: #0077ff;
  color: white;
  padding: 40px;
  text-align: center;
}

section {
  padding: 20px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
